:root {
    --main-color: antiquewhite;
    --second-color: #D2B48C;
    --font: 'Caprasimo', sans-serif;
}

@font-face {
    font-family: 'Caprasimo';
    src: url('./fonts/Caprasimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: var(--main-color);
}

header {
    background-color: var(--second-color);
    padding: 15px 0 15px 30px;
}

header img {
    width: 450px;
}

main h1 {
    display: flex;
    justify-content: center;
    font-family: var(--font);
    font-size: 36px;
    font-weight: 400;
    padding: 25px 0 15px 0;
}

.ImgSelector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 50px;
    padding: 50px 16px 70px;
    max-width: 1400px;
    margin: 0 auto;
    ;
    min-width: 0;

}

main img {
    width: 200px;
    height: 200px;
    border-radius: 16px;

}

main img:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

footer {
    background-color: var(--second-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 15px 0;
}

.logoFooter {
    width: 450px;
}

.socialmediaSection {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.socialmediaSection img {
    width: 50px;
    cursor: pointer;
}
